{
    "UploadFilePrefix": "<your prefox>",
    "DatadogCostFilesLimit": <int>,
    "SourceFilesDirectory": "<your (relative) source directory>",
    "TempDirectory": "<your tmp directory>",
    "OutputDirectory": "<your output directory>",
    "DeduplicationComparisonFields": [<list of columns headers used to do the comparison between new and old data, comma separated, with "">],
    "currency": {
        "EUR": "dynamic",
        "GBP": "dynamic",
        "JPY": 0.006750
    },
    "MandatoryFieldsTargetSourceMappingß": {
        "ProviderName": "<Name of the source header providing this value>",
        "ChargeDescription": "<Name of the source header providing this value>",
        "ChargePeriodStart": "<Name of the source header providing this value>",
        "ChargePeriodEnd": "<Name of the source header providing this value>",
        "BilledCost": "<Name of the source header providing this value>",
        "BillingCurrency": "<Name of the source header providing this value>"
    },
    "TagsFieldsTargetSourceMapping": {
        "<name of the tag>": "<Name of the source header providing this value>",
        "<name of the tag>": "<Name of the source header providing this value>",
        "<name of the tag>": "<Name of the source header providing this value>",
        ...
    }
}

